.card {
    position: relative;
    top: -25px;
    background-clip: border-box;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.creditcard {
    position: relative;
    height: 174px;
    width: 295px;
    border-radius: 16px;
    display: block;
    margin: 150px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom left, #6154FE, #52B6FE);
    background-image: linear-gradient(to bottom left, #6154FE, #52B6FE);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);

    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.7s ease all;
    -webkit-transition: 0.7s ease all;
    -moz-transition: 0.7s ease all;
}

.creditcard:hover {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
}

.card-type {
    position: absolute;
    font-family: "Maven Pro";
    font-size: 16px;
    display: block;
    margin-left: 30px;
    top: 23px;
    color: white;
}

.card-brand {
    position: absolute;
    display: block;
    margin-left: 200px;
    top: 1px;
    color: white;
}

.card-name {
    position: absolute;
    font-family: "Maven Pro";
    font-size: 15px;
    display: block;
    margin-left: 30px;
    top: 105px;
    color: rgb(224, 224, 224);
}

.card-number {
    position: absolute;
    font-family: "Maven Pro";
    font-size: 16px;
    display: block;
    margin-left: 30px;
    top: 125px;
    color: rgb(255, 255, 255);
}

.gibe-bobux {
    position: relative;
    font-family: montserrat-bold;
    font-size: 35px;
    display: block;
    top: -80px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}