.support-title {
    margin-top: 50px;
    z-index: -1;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 130px;

    animation: backInDown;
    animation-duration: 0.8s;
}

.heroku_button {
    position: relative;
    height: 250px;
    width: 200px;
    border-radius: 16px;
    display: block;
    margin: 70px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/pictures/heroku.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(201, 85, 255);

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);

    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: 0.7s ease all;
    -webkit-transition: 0.7s ease all;
    -moz-transition: 0.7s ease all;
}

.heroku_button:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

.js_button {
    position: relative;
    height: 250px;
    width: 200px;
    border-radius: 16px;
    display: block;
    margin: 70px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/pictures/djs.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #2C2F33;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: 0.7s ease all;
    -webkit-transition: 0.7s ease all;
    -moz-transition: 0.7s ease all;
}

.js_button:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

.mongodb_button {
    position: relative;
    height: 250px;
    width: 200px;
    border-radius: 16px;
    display: block;
    margin: 70px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/pictures/mongodb.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #81C564;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: 0.7s ease all;
    -webkit-transition: 0.7s ease all;
    -moz-transition: 0.7s ease all;
}

.mongodb_button:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}
